* {
    margin: 0;
    padding: 0;
}


header {

   background: url('../images/tennis.jpg');
   background-repeat: no-repeat;
   width: 100%;
   background-size: cover;
   height: 400px;

}

.navlist ul li { 
   display: inline;
   margin-left: 50px;
}